<div class="file-in">
    <div class="panel-header">
        <h2>Add a Log File</h2>
      </div>    <!-- <a mat-raised-button color="primary" [routerLink]="['/settings' , {outlets: {'file-aux': ['files']}}]"
      style="float:right">
      <mat-icon>list</mat-icon>
    </a> -->
  
    
    <form [formGroup]="fileForm" (ngSubmit)="onFormSubmit(fileForm.value)" >
        <!-- <input  type="file" id="file" (change)="onFileChange($event)" accept=".log"/> -->
  
      <!-- <input type="file" id="file" (change)="handleFileInput($event.target.files)"> -->
      <span>
        <mat-form-field class="example-full-width">
          <input id="name" matInput placeholder="Name" formControlName="nameControl" required>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input id="file" matInput placeholder="File Path" formControlName="pathControl" required>
        </mat-form-field>
      </span>
  
      
        <mat-form-field class="example-full-width">
          <input id="app" type="text" placeholder="Application" aria-label="Number" matInput formControlName="appControl"
            [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let app of applications" [value]="app">
              {{app}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="example-full-width" style="max-width:30vw;">
          <input type="text" placeholder="Server" aria-label="Number" matInput formControlName="serverControl"
            [matAutocomplete]="auto2" required>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let server of servers" [value]="server">
              {{server}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      
      
  
      <div class="button-row">
        <button type="submit" mat-raised-button color="primary" style="width: 100%">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  
  </div>
  