<div class="panel-header">
  <h2>Stored Log Files</h2>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Application</th>
        <th>Server</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.name }}</td>
        <td>{{ file.path }}</td>
        <td>{{ file.application }}</td>
        <td>{{ file.server }}</td>
        <td>{{ file.updated_date }}</td>

      </tr>
    </tbody>
    </table>