/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
/* Custom CSS Classes */
 
.mat-card {
 text-align: -webkit-center;
}
 
.demo-toolbar {
 display: flex;
 align-items: center;
 width: 60%;
}
 
.demo-form {
 min-width: 150px;
 max-width: 500px;
 width: 100%;
}
 
.demo-full-width {
 width: 100%;
}
 
body {
 margin: 0;
 font-family: Roboto, sans-serif;
}
 
.panel {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 92%;
    background-color:#424242;
    padding: 10px 20px;
  }
  
  .panel:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .panel-header{
    margin-bottom: 20px;
  }
 
mat-toolbar-row {
 justify-content: space-between;
}

 
.done {
 position: fixed;
 bottom: 20px;
 right: 20px;
 color: white;
}
 
.content-center {
 text-align: -webkit-center;
}
 
.alert {
 padding: 15px;
 margin-bottom: 20px;
 border: 1px solid transparent;
 border-radius: 4px;
}
 
.alert-info {
 color: #31708f;
 background-color: #d9edf7;
 border-color: #bce8f1;
}
 
strong {
 font-size: 30px;
}
 
/* Specific class for table */
 
.example-container[_ngcontent-c21] {
 display: flex;
 flex-direction: column;
 min-width: 300px;
}

 
.mat-cell {
 text-align: -webkit-left;
}
 
.mat-header-cell {
 text-align: left;
}
 
img {
 border-radius: 20px;
 height: 70px;
}
 
/* End Table Class */

/* for datatables */
label{
    color: whitesmoke;
}
.dataTables_info{
    color: whitesmoke;
}
.example-full-width{
  width: 16vw;
  margin-right: 3vw;
}